<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
​    

    <!-- Load plotly.js into the DOM -->
	  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
​  
    <!-- CSS File -->
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Charity Project</title>
  </head>
  
    <!-- Call in data from app.py file using MongoDB -->
    <script defer type="text/javascript">
      const data = JSON.parse({{us_info|tojson}})
      // console.log(data)
    </script>
      <script defer type="text/javascript" src="{{url_for('static', filename='js/us-charity-info.js')}}"></script>
  
  <!-- Set background color of site -->
  <body style="background-color:rgb(223, 222, 222);">
    
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
        <a class="navbar-brand" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;" href="/">Charity Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="charity-details.html">Charity Details<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="expense-details.html">Financial Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="us-charity-info.html">US Charity Info</a>
            </li>
           
        </div>
      </nav>
​
    <!-- Put extra space between navbar and containers below -->  
    <br>
​
    <!-- US CHARITY INFO PAGE -->

    <!-- MAIN JUMBOTRON -->
    <div class="jumbotron">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="display-4">US CHARITY INFO</h1>
      <hr class="my-4">
      <p class="description">Our database has information on the top 8200 non-profit organizations across the US. <br>This page shows the distribution of charities across the U.S. & what categories are rated highest.</p>
      </div>
      </div>
    </div>

    <!-- FILTER JUMBOTRON -->
    <!-- <div class="jumbotron" id="page-body">
      <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <h1 class="filter-header">FILTERS</h1>
      </div> -->

      <script src="https://d3js.org/d3.v5.min.js"></script>
      <div class="col-lg-10 col-md-10 col-sm-10">
        <div class = "filter-lists">
          <!-- ************************ -->
          <!-- ADD FILTER LISTS -->
          <!-- ************************ -->
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <hr class="my-4" id="filter-line">
      </div>
      <div id="myDiv"></div> <!-- Plotly chart will be drawn inside this DIV -->


      <div class="col-lg-12 col-md-12 col-sm-12">
        <hr class="my-4" id="filter-line">
      </div>
      <div id="myDiv2"></div> <!-- Plotly chart will be drawn inside this DIV -->
  
    </div> 
  </body>
